body {
  background-color: black;
  color: aquamarine;
  text-align: center;
  font-family: 'Franklin Gothic Medium', Arial;
  font-size: 20px;
}
div.hienodiv {
  border-radius: 10px;
  border: 5px outset green;
  background-color: darkblue;
  color: white;
  text-align: center;
}
a.ex1 {
 margin: 10px;
}
 a.ex2 {
  margin: 10px;
}